<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Music Repository</title>
</head>
<body>

    <header>
        <h1>Music Repository</h1>
        <h3>by Elliot Clark and Aria Coalson</h3>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="album">Albums</a>
        <a href="artist">Add Artist</a>
        <a href="purchase">Purchase</a>
        <a href="customer">Add Customer</a>
        <a href="song">Add Song</a>
    </nav>

    <div class="search">
        <h3>Search by album title:</h3>
        <form id="search-album" method='GET' action='/album'>
            <input type="text" name="title" class="search-box" placeholder="Search...">
            <input type="submit">
            <a href='/album'><button>Reset</button></a>
        </form>
    </div>

    <!-- Album Table -->
    <table id="album-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.albumID}}</td>
                <td>{{this.artistID}}</td>
                <td>{{this.albumTitle}}</td>
                <td>{{this.albumGenre}}</td>
                <td>{{this.albumReleaseDate}}</td>
                <td>${{this.albumPrice}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6">No albums found</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="insert_form">
        <h2>Add/Insert Album</h2>
        <form id="add-album-form" method="POST" action="/add-album-form">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
    
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" required>
    
            <label for="release_date">Release Date:</label>
            <input type="date" id="release_date" name="release_date" required>
    
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" step="0.01" required>

            <label for="artist">Artist (FK):</label>
            <input type="number" id="artist" name="artist" required>
    
            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="./js/add_album.js"></script>
</body>
</html>
