<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Music Repository</title>
</head>
<body>
    <header>
        <h1>Music Repository</h1>
        <h3>by Elliot Clark and Aria Coalson</h3>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="album">Albums</a>
        <a href="artist">Add Artist</a>
        <a href="purchase">Purchase</a>
        <a href="customer">Add Customer</a>
        <a href="song">Add Song</a>
    </nav>

    <div class="search">
        <h3>Search by artist name:</h3>
        <form id="search-artist" method='GET' action='/artist'>
            <input type="text" name="artistName" class="search-box" placeholder="Search...">
            <input type="submit">
            <a href='/artist'><button>Reset</button></a>
        </form>
    </div>

    <!-- Artist Table -->
    <table id="artist-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value={{this.artistID}}>
                <td>{{this.artistID}}</td>
                <td>{{this.artistName}}</td>
                <td>{{this.country}}</td>
                <td><a href="{{this.website}}" target="_blank">{{this.website}}</a></td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4">No artists found</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="insert_form">
        <h2>Add/Insert Artist</h2>
        <form id="add-artist-form" method="POST" action="/add-artist-form">

            <label for="input-artistName">Artist Name:</label>
            <input type="text" id="input-artistName" name="input-artistName" required>

            <label for="input-country">Country:</label>
            <input type="text" id="input-country" name="input-country" required>

            <label for="input-website">Website:</label>
            <input type="text" id="input-website" name="input-website" required>

            <input type="submit">
        </form>
    </div>

    <script src="./js/delete_artist.js"></script>

</body>
</html>
