<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Music Repository</title>
</head>
<body>
    <header>
        <h1>Music Repository</h1>
        <h3>by Elliot Clark and Aria Coalson</h3>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="album">Albums</a>
        <a href="artist">Add Artist</a>
        <a href="purchase">Purchase</a>
        <a href="customer">Add Customer</a>
        <a href="song">Add Song</a>
    </nav>

    <div class="search">
        <h3>Search by email:</h3>
        <form id="search-customer" method="GET" action="/customer">
            <input type="text" name="email" class="search-box" placeholder="Search...">
            <input type="submit" value="Search">
            <a href="/customer"><button>Reset</button></a>
        </form>
    </div>

    <!-- Customer Table -->
    <table>
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value="{{this.customerID}}">
                <td>{{this.customerID}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phoneNumber}}</td>
                <td><button onclick="deleteCustomer({{this.customerID}})">Delete</button></td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">No customers found</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_customer.js"></script>
    
    <div class="insert_form">
        <h2>Add/Insert Customer</h2>
        <form id="add-customer-form" method="POST" action="/add-customer-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>

            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="./js/delete_customer.js"></script>
</body>
</html>
