<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Music Repository</title>
</head>
<body>
    <header>
        <h1>Music Repository</h1>
        <h3>by Elliot Clark and Aria Coalson</h3>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="album">Albums</a>
        <a href="artist">Add Artist</a>
        <a href="purchase">Purchase</a>
        <a href="customer">Add Customer</a>
        <a href="song">Add Song</a>
    </nav>

    <div class="search">
        <h3>Search by purchase amount:</h3>
        <form id="search-purchase" method='GET' action='/purchase'>
            <input for="input-purchase-amount" name="purchaseAmount" type="number" class="search-box" placeholder="Search...">
            <input type="submit">
            <a href='/purchase'><button>Reset</button></a>
        </form>
    </div>

    <table id="purchase-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr data-value={{this.purchaseID}}>
                <td>{{this.purchaseID}}</td>
                <td>{{this.purchaseDate}}</td>
                <td>${{this.purchaseAmount}}</td>
                <td>{{this.customerID}}</td>
                <td>{{this.albumID}}</td>
                <td><button onclick="deletePurchase({{this.purchaseID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_purchase.js"></script>

    <div class="insert_form">
        <h2>Add/Insert Purchase</h2>
        <form id="add-purchase-form" method="POST" action="/add-purchase-form">

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" step="0.01" required>

            <label for="customer">Customer Email (FK): </label>
            <select name="customer" id="customer" required>
                <option value="customer">Select a Customer's Email</option>
                {{#each menu}}
                <option name="customer" type="text" id="customer1" value="{{this.customerID}}">{{this.email}}</option>
                {{/each}}
            </select>

            <label for="album">Purchased Album Title (FK):</label>
            <select name="album" id="album" required>
                <option value="customer">Select the Album sold:</option>
                {{#each albumMenu}}
                <option name="album" type="text" id="album" value="{{this.albumID}}">{{this.albumTitle}}</option>
                {{/each}}
            </select>


            <input type="submit">
        </form>
    </div>

    <div class="insert_form">
        <h2>Update Customer's Purchase Amount</h2>
        <form id="update-purchase-form-ajax">

            <select name="purchaseID" id="update-ID" required>
                <option value="">Select which purchase to Update:</option>
                {{#each data}}
                <option name="purchaseID" type="text" value="{{this.purchaseID}}">{{this.purchaseID}}</option>
                {{/each}}
            </select>

            <label for="date">Date:</label>
            <input type="date" id="update-date" name="date">

            <label for="amount">Amount:</label>
            <input type="number" id="update-amount" name="amount" step="0.01">

            <label for="customer">Customer Email (FK): </label>
            <select name="customer" id="update-customer">
                <option value="">Select a Customer's Email</option>
                {{#each menu}}
                <option name="customer" type="text" value="{{this.customerID}}">{{this.email}}</option>
                {{/each}}
            </select>

            <label for="album">Purchased Album Title (FK):</label>
            <select name="album" id="update-album">
                <option value="">Select the Album sold:</option>
                {{#each albumMenu}}
                <option name="album" type="text" value="{{this.albumID}}">{{this.albumTitle}}</option>
                {{/each}}
            </select>
            
            <input type="submit">
        </form>
    </div>

    <script src="./js/update_purchase.js"></script>
</body>
</html>