<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Music Repository</title>
</head>
<body>
    <header>
        <h1>Music Repository</h1>
        <h3>by Elliot Clark and Aria Coalson</h3>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="album">Albums</a>
        <a href="artist">Add Artist</a>
        <a href="purchase">Purchase</a>
        <a href="customer">Add Customer</a>
        <a href="song">Add Song</a>
    </nav>

    <div class="search">
        <h3>Search by song title:</h3>
        <form id="search-song" method='GET' action='/song'>
            <input type="text" name="title" class="search-box" placeholder="Search...">
            <input type="submit">
            <a href='/song'><button>Reset</button></a>
        </form>
    </div>

    <!-- Song Table -->
    <table id="song-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.songID}}</td>
                <td>{{this.songTitle}}</td>
                <td>{{this.songDuration}}</td>
                <td>{{this.albumID}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4">No songs found</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="insert_form">
        <h2>Add/Insert Song</h2>
        <form id="add-song-form" method="POST" action="/add-song-form">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
    
            <label for="duration">Duration:</label>
            <input type="text" id="duration" name="duration" required>

            <label for="album">Album (FK):</label>
            <input type="number" id="album" name="album" required>
    
            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="./js/add_song.js"></script>
</body>
</html>
